{% load static staticfiles widget_tweaks %}
<head>
    <!-- Basic Page Needs =====================================-->
    <meta charset="utf-8">

    <!-- Mobile Specific Metas ================================-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">
    {% block description %} {% endblock %}
    <!-- Site Title- -->
    <title>{% block title %} {% endblock %}</title>

    <!-- CSS
    ==================================================== -->
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'benny_site/images/icons/favicon.png' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'benny_site/css/animate.css' %}">

    <!-- IcoFonts -->
    <link rel="stylesheet" href="{% static 'benny_site/css/icofonts.css' %}">
    <link rel="stylesheet" href="{% static 'benny_site/css/mg_icon.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'benny_site/css/bootstrap.min.css' %}">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'benny_site/css/owlcarousel.min.css' %}">

    <!-- Contact -->
    <link rel="stylesheet" href="{% static 'benny_site/css/contact/bootstrap-datepicker.standalone.min.css' %}">
    <link rel="stylesheet" href="{% static 'benny_site/css/contact/contact-1.0.css' %}">
    <link rel="stylesheet" href="{% static 'benny_site/css/contact/jquery.timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'benny_site/css/contact/select2.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'benny_site/css/style.css' %}">

    <!-- Responsive -->
    <link rel="stylesheet" href="{% static 'benny_site/css/responsive.css' %}">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->


</head>

<![endif]-->

<form class="contact review mg-main-form" id="review-form" data-url="{% url 'review_create' %}" method="post"
      enctype="multipart/form-data" novalidate>
    <section>
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="mt-5"></div>
        {% endif %}
        {% for field in form.visible_fields %}
            {% if form.is_bound %}
                {% if field.errors %}
                    <div class="form-row has-error">
                        <div class="col-lg-12">
                            {% render_field field placeholder=field.label %}
                            {% for error in field.errors %}
                                <span class="text-danger help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="form-row">
                        <div class="col-lg-12">
                            {% render_field field placeholder=field.label %}
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="form-row">
                    <div class="col-lg-12">
                        {% render_field field placeholder=field.label %}
                    </div>
                </div>
            {% endif %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        {% endfor %}
        {##}
        {#        {% if redirect_field_value %}#}
        {#            <div class="row">#}
        {#                <input type="hidden" name="{{ redirect_field_name }}"#}
        {#                       value="{{ redirect_field_value }}"/>#}
        {#            </div><!--end .row -->#}
        {#        {% endif %}#}
        <button id="rev-submit" class="btn btn-primary" type="submit">Submit
        </button>

        <br>
        <div class="row">
            <div class="text-danger">{{ form.non_field_errors }}</div>
        </div>
    </section>
</form>

<!-- initialize jQuery Library -->
<script src="{% static 'benny_site/js/jquery.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'benny_site/js/popper.min.js' %}"></script>
<!-- Bootstrap jQuery -->
<script src="{% static 'benny_site/js/bootstrap.min.js' %}"></script>
<!-- Owl Carousel -->
{#<script src="{% static 'benny_site/js/owl-carousel.2.3.0.min.js' %}"></script>#}
<!-- START js copy section -->
<script src="{% static 'benny_site/js/contact/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'benny_site/js/contact/bootstrap-datepicker-lang/en.js' %}"></script>
<script src="{% static 'benny_site/js/contact/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'benny_site/js/contact/select2.full.min.js' %}"></script>
<script src="{% static 'benny_site/js/contact/bootstrap-datepicker-lang/en.js' %}"></script>
<!--[if lt IE 9]>
<!--<script src="{% static 'benny_site/js/contact/EQCSS-polyfills-1.7.0.min.js' %}"></script> -->
<![endif]-->
<script src="{% static 'benny_site/js/contact/EQCSS-1.7.0.min.js' %}"></script>
<script src="{% static 'benny_site/js/contact/contact-config.js' %}"></script>
<script src="{% static 'benny_site/js/contact/contact-1.0.js' %}"></script>
<!-- To enable Google reCAPTCHA, uncomment the next line: -->
<!-- <script src="https://www.google.com/recaptcha/api.js' %}?onload=initRecaptchas&render=explicit" async defer></script> -->
<!-- END js copy section -->
<!-- Template Custom -->
<script src="{% static 'benny_site/js/main.js' %}"></script>