﻿{% load staticfiles static widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Service World Inc. is the best event management services in Flushing, New York. We also provide Staffing service & Catering service. Our trained & well mannered staffs will provide you the best hospitality service at an affordable price."/>
    <meta name="robots" content="">

    <title>Best Event Management Services in NY | Service World Inc.</title>


    <!-- Library CSS -->
    <link href="{% static 'site_assets/css/lecker_library.css' %}" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="{% static 'site_assets/fonts/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'site_assets/fonts/selima/stylesheet.css' %}" rel="stylesheet">
    <link href="{% static 'site_assets/fonts/introrust/stylesheet.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'site_assets/css/lecker_style.css' %}" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Lato" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="icon" type="image/png" href="{% static 'site_assets/images/favicon.png' %}" sizes="32x32"/>


</head>
<body class="lec_france">


<!-- Page -->
<div class="lec_page lec_page_fire" id="lec_page">

    <!-- To Top -->
    <a href="#lec_page" class="lec_top lec_go"><b class="ti ti-angle-up"></b></a>

    <!-- Header -->
    <header>
        <div class="container">

            <!-- Logo -->
            <a href="/" class="lec_logo"><img src="{% static 'site_assets/images/logo.png' %}" alt="">
                <i><span>SERVICE WORLD</span><span>INC</span></i></a>


            <!-- Menu -->
            <div class="lec_main_menu">

                <div class="lec_main_menu_icon">
                    <i></i><i></i><i></i><i></i>
                    <b>Menu</b>
                    <b class="lec_main_menu_icon_b">Back</b>
                </div>
            </div>

            <!-- Menu Content -->
            <div class="lec_main_menu_content lec_image_bck" data-color="rgba(0,0,0,0.9)"
                 data-image="{% static 'site_assets/images/sl5.jpg' %}">
                <!-- Over -->
                <div class="lec_over" data-color="#000" data-opacity="0.8"></div>
            </div>

            <div class="lec_main_menu_content_menu lec_wht_txt text-right">
                <div class="container">
                    <ul>


                        <li class="lec_parent"><a href="#">Service World INC</a>
                            <ul>
                                <li><a href="{% url 'home' %}#lec_content">About Us</a></li>
                                <li><a href="{% url 'home' %}#advantages">Our Competitive Advantages</a></li>
                                <li><a href="{% url 'home' %}#staffs">Staffs</a></li>
                                <li><a href="{% url 'home' %}#contacts">Contacts</a></li>
                                <li><a href="{% url 'home' %}#location">Location</a></li>
                                <li><a href="{% url 'home' %}#reservation">Reservation</a></li>
                            </ul>
                        </li>

                    </ul>
                    <div class="lec_main_menu_content_menu_copy">
                        <p>© Service World INC</p>
                        <!-- Social Buttons -->
                        <div class="lec_footer_social">
                            <a href="https://www.facebook.com/Service-World-Inc-2094462900612469/" target="_blank"><i
                                    class="ti ti-facebook lec_icon_box"></i></a>
                            <a href="https://www.pinterest.com/serviceworldinc" target="_blank"><i
                                    class="ti ti-pinterest lec_icon_box"></i></a>
                            <a href="https://plus.google.com/u/0/113926299590115500239" target="_blank"><i
                                    class="ti ti-google lec_icon_box"></i></a>
                            <a href="https://twitter.com/ServiceWorldNY" target="_blank"><i
                                    class="ti ti-twitter lec_icon_box"></i></a>


                        </div>
                    </div>
                </div>
                <!-- container end -->
            </div>
            <!-- menu content end -->

        </div>
        <!-- container end -->
    </header>
    <!-- Header End -->


    <!-- Slider -->
    <div class="lec_slider lec_image_bck lec_fixed lec_wht_txt" data-stellar-background-ratio="0.3"
         data-image="{% static 'site_assets/images/sl5.jpg' %}">
        <!-- Firefly -->
        <div class="lec_slider_firefly" data-total="30" data-min="1" data-max="3"></div>


        <!-- Over -->
        <div class="lec_over" data-color="#000" data-opacity="0.8"></div>


        <div class="container">


            <!-- Slider Texts -->
            <div class="lec_slide_txt lec_slide_center_middle text-center">
                <img src="{% static 'site_assets/images/logo-text.svg' %}" alt="" height="180"><br>
                <!--<div class="lec_gold">One Pound Steak</div>-->
                <div class="lec_slide_subtitle">Best for <br>Catered Events</div>
            </div>
            <!-- Slider Texts End -->

        </div>
        <!-- container end -->

        <!-- Slide Down -->
        <a class="lec_scroll_down lec_go" href="#lec_content">
            <b></b>
            <i class="ti ti-angle-double-down"></i>
        </a>


    </div>
    <!-- Slider End -->

    <!-- Content -->
    <section id="lec_content" class="lec_content">

        <!-- section -->
        <section class="lec_section lec_image_bck">

            <div class="row lec_auto_height">
                <div class="col-md-6 lec_image_bck" data-image="{% static 'site_assets/images/catering4.jpg' %}">
                </div>

                <div class="col-md-6">
                    <div class="lec_simple_block lec_page_rust">
                        <!--<h2 class="lec_rust">About Us</h2>-->
                        <h3 class="lec_gold_subtitle">About Us</h3>

                        <p>
                            Service World Inc. is a New York-based Event Management Service provider who realizes the
                            scope of possibilities that exist in the hospitality service industry. It has been providing
                            services to hotels and major events spaces for the past 3-years and is well experienced in
                            all aspects of the hospitality industry. Our primary purpose is to fill the increasing
                            demand for co-operate dining rooms, caterers, hotels and country clubs in the tri-state area
                            with qualified temporary services.

                            <br><br>
                            Through our team of dedicated professionals, we work hard to achieve your business goals and
                            provide you with a superior level of service. Whether you are a similar dining facility
                            handling a banquet of hundreds or a smaller venue looking for a professional feel, Service
                            World Inc. can provide a well-versed, well-mannered staff with a guaranteed positive mental
                            attitude to perform an excellent job to your satisfaction. We train each of our carefully
                            selected servers in all areas of catering. This training includes a complete understanding
                            and experience in French, banquet and À la carte services. All of our staff, unless
                            otherwise directed, will be formally dressed for a black tie event.
                            We place great emphasis on attitude and the importance of teamwork and leadership. We employ
                            polite, well-spoken and personable professionals only. You can count on us to deliver on
                            everything you need for your next big event. When you hire Service World Inc., you are
                            guaranteed a smooth and stress-free event.
                        </p>

                    </div>

                </div>

            </div>


        </section>
        <!-- section end -->

        <!-- section -->
        <section class="lec_section lec_image_bck" id="advantages">

            <div class="row lec_auto_height">

                <div class="col-md-6 col-md-push-6 lec_image_bck"
                     data-image="{% static 'site_assets/images/catering3.jpg' %}">
                </div>

                <div class="col-md-6 col-md-pull-6">
                    <div class="lec_simple_block lec_page_rust">
                        <!--<h2 class="lec_rust">Red Rye</h2>-->
                        <h3 class="lec_gold_subtitle">Our Competitive Advantages:</h3>
                        <p>
                            <b>So why choose our service?</b><br>
                            Well, we provide a very competitive package within your range. We don’t want to break your
                            bank for our services.
                            With quality service, you will also get the below advantages-

                        </p>
                        <!--<p>-->
                        <!--<b>Aroma</b> - Mix of toffee and spices<br>-->
                        <!--<b>Flavour</b> - Caramel and fruitiness with a slight white pepper finish<br>-->
                        <!--<b>Bitterness</b> - 38/100 IBU's-->
                        <!--</p>-->
                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Lower Rates per services</h3>
                                <!--<div class="lec_menu_spacer"></div>-->
                                <!--<div class="lec_parallax_menu_mini_price">$10.95</div>-->
                            </div>
                        </div>
                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Young and experienced bilingual workers (including Haitian, Spanish and Asian)</h3>
                                <!--<div class="lec_menu_spacer"></div>-->
                                <!--<div class="lec_parallax_menu_mini_price">$10.95</div>-->
                            </div>
                        </div>
                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Excellent handling of all bookkeeping and payroll taxes for employees</h3>
                                <!--<div class="lec_menu_spacer"></div>-->
                                <!--<div class="lec_parallax_menu_mini_price">$10.95</div>-->
                            </div>
                        </div>
                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>We accept checks and all major credit cards</h3>
                                <!--<div class="lec_menu_spacer"></div>-->
                                <!--<div class="lec_parallax_menu_mini_price">$10.95</div>-->
                            </div>
                        </div>
                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>All work together as a team </h3>
                                <!--<div class="lec_menu_spacer"></div>-->
                                <!--<div class="lec_parallax_menu_mini_price">$10.95</div>-->
                            </div>
                        </div>
                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>On-site Managerial Supervision</h3>
                                <!--<div class="lec_menu_spacer"></div>-->
                                <!--<div class="lec_parallax_menu_mini_price">$10.95</div>-->
                            </div>
                        </div>
                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Access to an account representative 24/7</h3>
                                <!--<div class="lec_menu_spacer"></div>-->
                                <!--<div class="lec_parallax_menu_mini_price">$10.95</div>-->
                            </div>
                        </div>
                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Dedication to total quality service</h3>
                                <!--<div class="lec_menu_spacer"></div>-->
                                <!--<div class="lec_parallax_menu_mini_price">$10.95</div>-->
                            </div>
                        </div>
                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Order by Phone or Email</h3>
                                <!--<div class="lec_menu_spacer"></div>-->
                                <!--<div class="lec_parallax_menu_mini_price">$10.95</div>-->
                            </div>
                        </div>
                        <!--<a href="" class="btn btn_simple">See More</a>-->
                    </div>

                </div>


            </div>


        </section>
        <!-- section end -->

        <!-- section -->
        <section class="lec_section lec_image_bck" id="staffs">

            <div class="row lec_auto_height">
                <div class="col-md-6 lec_image_bck" data-image="{% static 'site_assets/images/catering2.jpg' %}">
                </div>

                <div class="col-md-6">
                    <div class="lec_simple_block lec_page_rust">

                        <h3 class="lec_gold_subtitle">Type Of Staff Member</h3>
                        <p>Service World Inc. provides talented & trained staff member who deliver a professional
                            service. No matter what, we don’t compromise the quality.</p>
                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Waiter</h3>
                                <div class="lec_menu_spacer"></div>
                                <div class="lec_parallax_menu_mini_price">$19.00</div>
                            </div>
                        </div>

                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>House Keeper</h3>
                                <div class="lec_menu_spacer"></div>
                                <div class="lec_parallax_menu_mini_price">$19.00</div>
                            </div>
                        </div>

                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Bar Tender</h3>
                                <div class="lec_menu_spacer"></div>
                                <div class="lec_parallax_menu_mini_price">$20.00</div>
                            </div>
                        </div>

                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Cleaner</h3>
                                <div class="lec_menu_spacer"></div>
                                <div class="lec_parallax_menu_mini_price">$19.00</div>
                            </div>
                        </div>

                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Housemen</h3>
                                <div class="lec_menu_spacer"></div>
                                <div class="lec_parallax_menu_mini_price">$19.00</div>
                            </div>
                        </div>

                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Captain</h3>
                                <div class="lec_menu_spacer"></div>
                                <div class="lec_parallax_menu_mini_price">$20.00</div>
                            </div>
                        </div>

                        <div class="lec_parallax_menu_mini">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>House Keeper per Room</h3>
                                <div class="lec_menu_spacer"></div>
                                <div class="lec_parallax_menu_mini_price">$20.00</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </section>
        <!-- section end -->


        <!-- section -->
        <section class="lec_section lec_section_borders_lines lec_wht_txt lec_image_bck lec_wht_txt"
                 data-image="{% static 'site_assets/images/main_back_bl.jpg' %}">

            <div class="container text-center">
                <h3>We are always open!</h3>
                <h3>Sat to Fri: 24/7</h3>

            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
        <!-- section -->
        <section class="lec_section lec_section_no_overlay" id="story">
            <div class="lec_over" data-color="#333" data-opacity="0.05"></div>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2 lec_animation_block"
                         data-bottom-top="transform:translate3d(0px, 80px, 0px)"
                         data-top-bottom="transform:translate3d(0px, -80px, 0px)">
                        <img src="https://via.placeholder.com/1200x800" alt="">
                    </div>

                    <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posl lec_image_bck"
                         data-bottom-top="transform:translate3d(0px, 0px, 0px)"
                         data-top-bottom="transform:translate3d(0px, 80px, 0px)"
                         data-image="{% static 'site_assets/images/main_back.jpg' %}">
                        <!-- Over -->
                        <div class="lec_over" data-color="#000" data-opacity="0.08"></div>

                        <div class="lec_parallax_menu lec_image_bck lec_fixed">
                            <h3 class="lec_gold_subtitle">About the Owner: </h3>
                            <p>MD Abdul Mannan is the Founder & CEO of the Service World Inc. He is a man of business.
                                He gathered his experiences doing business in various places outside the US like
                                Bangladesh, South Korea & Hong Kong. In Bangladesh, Mr. Mannan does business on the Food
                                Industry where he also owns a factory. In South Korea, he runs a business in the Halal
                                Food supermarket, and he does Export & Import business in Hong Kong. In New York, he
                                started the Service World Inc. in 2015. And till now he is successfully doing his
                                Staffing, Catering, and Event management business in several 4-Star & 5-Star hotel. With
                                complete teamwork and leadership, he is managing his reputation in this field
                                successfully.</p>
                            <p><img src="{% static 'site_assets/images/sign.png' %}" height="50" alt=""></p>
                        </div>
                    </div>
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->

    </section>
    <!-- Content End -->


    <!-- Content -->
    <section class="lec_content" id="contacts">
        <!-- section -->
        <section class="lec_section lec_section_no_overlay">

            <div class="container text-center">


                <div class="row text-left">

                    <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posl lec_image_bck"
                         data-bottom-top="transform:translate3d(0px, 0px, 0px)"
                         data-top-bottom="transform:translate3d(0px, -40px, 0px)"
                         data-image="{% static 'site_assets/images/main_back.jpg' %}">

                        <!-- Over -->
                        <div class="lec_over" data-color="#000" data-opacity="0.04"></div>


                        <div class="lec_parallax_menu lec_image_bck lec_fixed">


                            <h3>Contact Info</h3>

                            <div class="row lec_contacts_icons">
                                <i class="ti ti-location-pin"></i> 40-19 69th Street, 2nd Floor, Flushing, NY 11377 <br>
                                <i class="ti ti-email"></i> info@serviceworldnyc.com <br>
                                <i class="ti ti-mobile"></i> 646-693-2946
                                <br>
                                <i class="ti ti-link"></i> www.serviceworldnyc.com<br>
                            </div>
                        </div>


                    </div>
                    <!-- col end -->


                    <div class="col-md-8 col-md-offset-4 lec_animation_block"
                         data-bottom-top="transform:translate3d(0px, 0px, 0px)"
                         data-top-bottom="transform:translate3d(0px, 40px, 0px)">
                        <img src="{% static 'site_assets/images/catering4.jpg' %}" alt="">
                    </div>
                    <!-- col end -->

                </div>
                <!-- row end -->


            </div>
            <!-- container end -->

        </section>
        <!-- section end -->

        <!-- section -->
        <section class="lec_section lec_section_no_overlay" id="location">

            <!-- Over -->
            <div class="lec_over" data-color="#333" data-opacity="0"></div>

            <div class="container text-center">


                <div class="row">

                    <div class="col-md-9 lec_animation_block lec_map_hidden_top"
                         data-bottom-top="transform:translate3d(0px, 40px, 0px)"
                         data-top-bottom="transform:translate3d(0px, -40px, 0px)">
                        <div class="lec_map_container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.741426236984!2d-73.898100684594!3d40.74571487932829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25f03cf4a3cb1%3A0x4745352375a2c801!2s40-19+69th+St%2C+Flushing%2C+NY+11377%2C+USA!5e0!3m2!1sen!2sbd!4v1538969269328"
                                    height="680" scrolling="no"></iframe>
                        </div>
                    </div>

                    <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posr lec_image_bck"
                         data-bottom-top="transform:translate3d(0px, 0px, 0px)"
                         data-top-bottom="transform:translate3d(0px, 40px, 0px)"
                         data-image="{% static 'site_assets/images/main_back.jpg' %}">

                        <!-- Over -->
                        <div class="lec_over" data-color="#000" data-opacity="0.08"></div>

                        <div class="lec_parallax_menu lec_image_bck lec_fixed">

                            <h3 class="lec_gold_subtitle">Our Location</h3>
                            <p>Service World Inc is located in Newyork. Detailed address: 40-19 69th St
                                Flushing, NY 11377
                                USA</p>

                        </div>
                    </div>


                </div>
                <!-- row end -->
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->

        <!-- section -->
        <section class="lec_section lec_section_no_overlay" id="testimonials">

            <!-- Over -->
            <div class="lec_over" data-color="#333" data-opacity="0.05"></div>


            <div class="container">

                <div class="row">
                    <div class="col-md-10 lec_animation_block" data-bottom-top="transform:translate3d(0px, 40px, 0px)"
                         data-top-bottom="transform:translate3d(0px, -40px, 0px)">
                        <img src="{% static 'site_assets/images/slider/sl1.jpg' %}" alt="">
                    </div>

                    <div class="col-md-7 lec_animation_block lec_animation_abs_block lec_posr lec_image_bck lec_wht_txt"
                         data-bottom-top="transform:translate3d(0px, -40px, 0px)"
                         data-top-bottom="transform:translate3d(0px, 0px, 0px)"
                         data-image="{% static 'site_assets/images/slider/main_back_bl.jpg' %}">

                        <!-- Over -->
                        <div class="lec_over" data-color="#333" data-opacity="0.6"></div>
                        <div class="lec_parallax_menu lec_image_bck lec_fixed text-center">

                            <div class=" lec_page_rust">
                                <h3 class="lec_gold_subtitle">Testimonials</h3>
                            </div>
                            <!-- reviews -->
                            <div class="lec_reviews_single lec_lm_type_i" data-dots="true" data-autoplay="true">

                                <!-- item -->
                                <div class="lec_reviews_item">
                                    <p>The staffs were fantastic and everything went perfectly. Thank you so much for
                                        organizing it so last minute. The food was great and the service was just right.
                                        We’ll definitely be in touch for future events!
                                    </p>

                                    <strong>Saint Nicholas – July 2017</strong>
                                </div>

                                <!-- item -->
                                <div class="lec_reviews_item">
                                    <p>Hi Mannan, we just wanted to say a big thank you! Your staffs were wonderful!!!
                                        Everyone enjoyed all the food so all in all a very happy bunch of 180! We had
                                        the best day ever!!!</p>

                                    <strong>Marks Hall - October 2017</strong>
                                </div>


                            </div>
                            <!-- reviews end -->
                        </div>
                        <!-- menu end -->

                    </div>
                    <!-- col end -->

                </div>
                <!-- row end -->
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->

        <!-- section -->
        <section class="lec_section lec_image_bck lec_fixed lec_wht_txt" data-stellar-background-ratio="0.2"
                 data-image="{% static 'site_assets/images/slider/sl13.jpg' %}"
                 data-bottom-top="@data-animation:noactive"
                 data-200-bottom="@data-animation:active" id="reservation">

            <!-- Over -->
            <div class="lec_over" data-color="#000" data-opacity="0.8"></div>

            <div class="container text-center" id="ap-form">

                <h3 class="lec_gold_subtitle">For a reservation <br>contact us through the
                    online form </h3>

                <div class="row" style="margin-bottom: 5px;">
                    <form method="POST" id="appointment-form">
                        {% csrf_token %}
                        <div class="col-md-5 col-md-offset-1">
                            <label>Event Date</label>
                            <input id="event-date" type="text" placeholder="Enter Date" name="Date"
                                   class="form-control">
                            <label>Event time</label>
                            <input type="time" id="event-time" placeholder="Enter Time" name="Time"
                                   class="form-control">
                            <label>No of Attendance</label>
                            <input type="number" min="0" step="1" placeholder="Enter No of Attendance" name="Party"
                                   class="form-control">
                        </div>

                        <div class="col-md-5">
                            <label>Location Details</label>
                            <input type="text" placeholder="Enter Location Details" name="Name" class="form-control">
                            <label>Email</label>
                            <input type="email" class="form-control" name="Email" placeholder="Enter Email">
                            <label>Phone</label>
                            <input type="tel" placeholder="Enter Phone No." pattern="\+?1?\d{9,15}"
                                   title="Phone number must be entered in the format: '+999999999'. Up to 15 digits allowed."
                                   name="Phone" class="form-control">
                        </div>

                        <div class="col-md-10 col-md-offset-1">
                            <textarea class="form-control" name="DaMessagete" placeholder="Event Description"
                                      rows="6"></textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn" type="submit" value="Make reservation">Make reservation</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- container end -->
        </section>
        <!-- section end -->

    </section>
    <!-- Content End -->


    <!-- Footer -->
    <footer class="lec_image_bck text-center lec_wht_txt"
            data-image="{% static 'site_assets/images/main_back_bl.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Copyrights -->
                    <p><img src="{% static 'site_assets/images/logo-text.svg' %}" alt="" height="150"></p>
                    <p>
                        Connect with us-
                    </p>
                    <!-- Social Buttons -->
                    <div class="lec_footer_social">
                        <div data-animation="animation_blocks" data-bottom="@class:noactive"
                             data--100-bottom="@class:active">
                            <a href="https://www.facebook.com/Service-World-Inc-2094462900612469/" target="_blank"><i
                                    class="ti ti-facebook lec_icon_box"></i></a>
                            <a href="#"><i class="ti ti-instagram lec_icon_box"></i></a>
                            <a href="https://www.pinterest.com/serviceworldinc" target="_blank"><i
                                    class="ti ti-pinterest lec_icon_box"></i></a>
                            <a href="https://plus.google.com/u/0/113926299590115500239" target="_blank"><i
                                    class="ti ti-google lec_icon_box"></i></a>
                            <a href="https://twitter.com/ServiceWorldNY" target="_blank"><i
                                    class="ti ti-twitter lec_icon_box"></i></a>

                        </div>
                    </div>
                    <p style="margin-bottom: 5px">© SERVICE WORLD INC. 2018</p>
                    <p>Powered by <a href="https://webtweaker.com/">WEBTWEAKER</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

</div>
<!-- Page End -->


<!-- JQuery -->
<script src="{% static 'site_assets/js/jquery-1.12.4.min.js' %}"></script>
<!-- Library JS -->
<script src="{% static 'site_assets/js/lecker_library.js' %}"></script>

<!-- Theme JS -->
<script src="{% static 'site_assets/js/lecker_script.js' %}"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#event-date").datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: new Date(),

        });

    });
</script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>
    var today = new Date();
    {#document.getElementById('event-date').valueAsDate = new Date();#}
    {#document.getElementById('event-date').setAttribute("min", today);#}
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });
    var form = $('#appointment-form');
    form.validate();
    $('#appointment-form').submit(function (e) {
        e.preventDefault();

        if (form.valid()) {
            $.ajax({
                url: '{% url 'appointment' %}',
                type: 'post',
                data: form.serialize(),
                success: function (response) {
                    if (response.success == "ok") {
                        $('#ap-form').append("<div class=\"alert alert-success\">\n" +
                            "  <strong>Success!</strong> Your appointment has been received\n" +
                            "</div>");
                    }
                    else {
                        $('#ap-form').append("<div class=\"alert alert-success\">\n" +
                            "  <strong>" + response.error + "</strong>\n" +
                            "</div>");
                    }
                },
                error: function (response) {
                    $('#ap-form').append("<div class=\"alert alert-warning\">\n" +
                        "  <strong>Please put valid information</strong>\n" +
                        "</div>");
                }

            });
        }
        else {
            $('#ap-form').append("<div class=\"alert alert-warning\">\n" +
                "  <strong>Please put valid information</strong>\n" +
                "</div>");
        }

    });


</script>


</body>
</html>