{% extends "admin_site/base.html" %}
{% load static staticfiles %}
{% block container %}
        <div class="row">

                <div class="col-lg-6 col-md-12">

                    <!--Panel-->
                    <div class="card mb-4">
                        <div class="card-header white-text primary-color">
                            Domain & Hosting List
                        </div>
                        <div class="card-body">
                            <div class="row mb-1">
                                <div class="col-6">
                                    <small class="grey-text">Domain Name</small>
                                    <h4>xyz</h4>
                                </div>
                                <div class="col-6">
                                    <small class="grey-text">Hosting  Package</small>
                                    <h4>100 GB</h4>
                                </div>

                            </div>
                            <div class="row mb-1">
                              <div class="col-6">
                                    <small class="grey-text">Domain Name</small>
                                    <h4>xyz</h4>
                                </div>
                                <div class="col-6">
                                    <small class="grey-text">Hosting  Package</small>
                                    <h4>100 GB</h4>
                                </div>
                            </div>

                            <div class="row mb-1">
                               <div class="col-6">
                                    <small class="grey-text">Domain Name</small>
                                    <h4>xyz</h4>
                                </div>
                                <div class="col-6">
                                    <small class="grey-text">Hosting  Package</small>
                                    <h4>100 GB</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--/.Panel-->

                </div>

                <!-- /.Second row -->

            </div>
{% endblock %}